body{
    background-image: url(dogs.jpg);
}
header{
    text-align: center;
    background-color: rgb(69, 161, 189);
    color: white;
}
nav{
    font-weight: bold;
    background-color: black;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
 li{
     float: left;
 }
 
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
  }

  li a:hover{
      color: rgb(69, 161, 189);
  }