header{
    text-align: center;
    background-color: rgb(69, 161, 189);
    color: white;
}
.home{
    color: rgb(69, 161, 189);
    text-decoration: none;
    font-weight: bold;
}

.home:hover{
    color:black;
}