header{
    text-align: center;
    background-color: rgb(69, 161, 189);
    color: white;
}



h3{
    background-color: rgb(69, 161, 189);
}

.sites{
    color: white;
    text-decoration: none;
}

.sites:hover{
    color: black;
}

p{
 text-align: left;
 width: 45%;
 display: inline-block;
 height: 325px;
 padding-right: 10px;
}

img{
    float: right;
    position: absolute;
}

.pictures{
    height: 325px;
    width: 650px;
}

.home{
    color: rgb(69, 161, 189);
    text-decoration: none;
    font-weight: bold;
}

.home:hover{
    color:black;
}

.akc{
    text-decoration: none; 
    font-weight: bold; 
    color: rgb(131, 49, 207)
}

.akc:hover{
    color: rgb(69, 161, 189);
}
